# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# venv
.venv/

# VSCode
.vscode/

# mypy
.mypy_cache/

# dot-env
*.env

# scratch
prototyping/

# generated output
output/

# Conda environment
env/
venv/

# Conda build artifacts
build/
dist/
*.egg-info/
.conda/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Conda debug logs
conda-debug.log